<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">-->
    <title>➡️✅⬅️</title>
    <style>
        body {
            max-width: 1000px;
            margin: auto;
        }
        .highlight {
            color: green;
        }
        .important {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>

<section class="section">
    <div class="container">
        <h1 class="title">➡️ Matchmaker ⬅️</h1>
        <p>This page pairs students with mentors by 🕓 <strong>timezone</strong> and ✅ <strong>skills</strong>,
            and creates a default email text to use as a base for your edits.</p>
        <ol>
            <li><span class="highlight">Select <kbd>Skill</kbd> and <kbd>Timezone</kbd> and click <kbd>Match</kbd></span></li>
            <li>If the suggested match isn't great, scroll to the bottom to see other fitting options
                <ul>
                    <li>Find a suitable mentor/student combination</li>
                    <li>Select them in <kbd>Change Mentor</kbd> and/or <kbd>Change Student</kbd></li>
                    <li><span class="important">Note that the drop-down shows <em>all</em> candidates.
                        Pick people from the <a href="#alternatives">Alternatives</a> section below to make sure skills and
                    timezone matches</span></li>
                </ul>
            </li>
        </ol>
    </div>
    <hr>
    <div class="container">
        <div class="email-base">
        {% block content %}

        {% endblock %}
        </div>
    </div>
</section>
</body>
</html>