{% extends 'match/base.html' %}

{% block content %}

<h1>Browse Unassigned Students' Info</h1>

<div class="linklist">
    <button><a href="{% url 'browse_mentors' %}">Browse Mentors</a></button>
    <button><a href="{% url 'match' %}">Match Candidates</a></button>
    <button><a href="{% url 'followup' %}">Follow Up</a></button>
</div>
<hr>
<ul>
    {% for student in students %}
    <li class="person-info">
        <p><strong><a href="{% url 'admin:match_student_change' student.id %}" target="_blank">{{ student.name }}</a>
        </strong> (UTC {{ student.timezone }}) : {% if student.lost_job %}<span class="important">Lost Job</span>{% endif %} {{ student.info }} - <em>({{ student.daytime }})</em></p>
        {% if student.notes %}
        <ul>
            <li class="secondary"><strong class="highlight">Notes:</strong> {{ student.notes }}</li>
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}