{% extends 'match/base.html' %}

{% block content %}

<h1>Browse Unassigned Mentors' Info</h1>
<div class="linklist">
    <button><a href="{% url 'browse_students' %}">Browse Students</a></button>
    <button><a href="{% url 'match' %}">Match Candidates</a></button>
</div>
<hr>

<ul>
    {% for mentor in mentors %}
    <li class="person-info">
        <p><strong><a href="{% url 'admin:match_mentor_change' mentor.id %}" target="_blank">{{ mentor.name }}</a>
        </strong>: <span class="highlight">(Capacity: {{ mentor.capacity }})</span> {{ mentor.info }} - <em>({{ mentor.daytime }})</em></p>
    </li>
    {% endfor %}
</ul>

{% endblock %}