<div class="email-base">

    <p>Hi {{ students.0.name.split.0 }} and {{ mentors.0.name.split.0 }},</p>

    <p>Thank you both for registering for CodingNomads' #StayAtHome Mentorship program!</p>

    <p>I'm thrilled to introduce you!</p>

    <p>{{ students.0.name.split.0 }}, {{ mentors.0.name.split.0 }} will be your #StayAtHome mentor over the coming weeks.
        {{ mentors.0.name.split.0 }} is "{{ mentors.0.info }}".
        {{ mentors.0.name.split.0 }} is also in a similar timezone as you,
        and has indicated that they are available for {{ mentors.0.weeks }} weeks of mentorship.</p>

    <p>{{ mentors.0.name.split.0 }}, {{ students.0.name.split.0 }} is "{{ students.0.info }}"
        and is looking to up their skills.</p>

    <p>The next step is for the two of you to schedule your introductory call. This call typically lasts for 30-60 minutes.
        The idea here is that you have the opportunity to get to know each other a bit,
        then come up with a plan of action/study for the next several weeks.
        Then get at least the next 3 upcoming meetings (1 each week) scheduled and on your calendars.</p>

    <p>We recommend that you use <a href="https://zoom.us/" target="_blank">Zoom</a> for the mentor calls
        as it gives you the ability to record the sessions,
        which can be super useful! It's easy to think you'll remember everything from a call,
        but being able to refer back to a given example, resource, and explanation is so helpful.</p>

    <p>I have also added you both to our <a href="https://forum.codingnomads.co/" target="_blank">CodingNomads' members-only forum</a>.
        You will need to accept the invite in the email that was just sent to you.
        Please feel free to ask and answer questions in there as often as you like!</p>

    <p>In addition, if either of you would like unlimited access to our Java and/or Python curriculum
        on our online learning platform for the duration of your #StayAtHome mentoring session, please create (and confirm)
        a free account on the platform and send me a quick email letting me know.
        I'll change your enrollment status so you have full access.</p>

    <p>If either of you would like any assistance at any time, just let me or Martin (CC'd) know.
        We're here to help. In the meantime, please feel free to remove us from the thread.</p>

    <div>
        <h4>Resources:</h4>
        <ul>
            <li><a href="https://platform.codingnomads.co/learn" target="_blank">CodingNomads Learning Platform</a></li>
            <li><a href="https://codingnomads.github.io/mentor-docs/" target="_blank">Mentorship Docs</a></li>
            <li><a href="https://codingnomads.github.io/mentor-docs/15_home_faq/" target="_blank">#StayAtHome Mentorship FAQ</a></li>
            <li><a href="https://codingnomads.github.io/mentor-docs/14_tips/" target="_blank">#StayAtHome Practical Tips</a></li>
            <li><a href="https://github.com/CodingNomads/Non_Discrimination_and_Anti_Harassment_Policy/blob/master/README.md" target="_blank">CodingNomads Non-Discrimination and Anti-Harassment Policy</a></li>
        </ul>
        <p>All the best,</p>
    </div>

</div>