<div>
    <p>Hello {{ student.name.split.0 }},</p>
    <p>I'm reaching out because you signed up for our #StayAtHome Mentorship program.</p>
    <p>
        Your application read "{{ student.info }}" but didn't include a lot of information.
        Could you describe your current situation in more detail, as well as what you are hoping to
        get out of this program? We want to make sure that this initiative
        benefits the people who need it the most. Please also keep in mind that this
        is a volunteer effort on all fronts by our team as well as the prospective mentors.
    </p>
    <p>Thank you and hope you're doing well,</p>
</div>