{% extends 'match/base.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">➡️ Matchmaker ⬅️</h1>
        <div class="linklist">
            <button><a href="{% url 'browse_mentors' %}">Browse Mentors</a></button>
            <button><a href="{% url 'browse_students' %}">Browse Students</a></button>
            <button><a href="{% url 'followup' %}">Follow Up</a></button>
        </div>
        <p>This page pairs students with mentors by 🕓 <strong>timezone</strong> and ✅ <strong>skills</strong>,
            and creates a default email text to use as a base for your edits.</p>
        <ol>
            <li><span class="highlight">Select <kbd>Skill</kbd> and <kbd>Timezone</kbd> and click <kbd>Match</kbd></span></li>
            <li>If the suggested match isn't great, scroll to the bottom to see other fitting options
                <ul>
                    <li>Find a suitable mentor/student combination</li>
                    <li>Select them in <kbd>Change Mentor</kbd> and/or <kbd>Change Student</kbd></li>
                    <li><span class="important">Note that the drop-down shows <em>all</em> candidates.
                        Pick people from the <a href="#alternatives">Alternatives</a> section below to make sure skills and
                    timezone matches</span></li>
                </ul>
            </li>
        </ol>
    </div>
</section>
<hr>
<section class="section">
    <div class="container">

<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Match">
    </form>
</div>

<hr>

{% if mentor and student %}

<div>
    <p>Matched Mentor
        <a href="{% url 'admin:match_mentor_change' mentor.id %}" target="_blank">
            {{ mentor.name }}
        </a> <em>({{ mentor.daytime }})</em>
        with Student
        <a href="{% url 'admin:match_student_change' student.id %}" target="_blank">
            {{ student.name }}
        </a> <em>({{ student.daytime }})</em>
    </p>
    <ol>
        <li>
            Add them to our
            <a href="https://forum.codingnomads.co/u/{{ user.username }}/invited/pending" target="_blank">
                CodingNomads Forum</a>:
            <ul>
                <li class="highlight">{{ mentor.email }}</li>
                <li class="highlight">{{ student.email }}</li>
            </ul>
        </li>
        <li><span class="important">Proof-read and edit the email template below</span></li>
        {% if user.username == 'martin' %}
        <li><a href="mailto:{{ student.email }},{{ mentor.email }}?cc=ryan@codingnomads.co&subject=#StayAtHome%20Mentorship%20-%20Introducing%20{{ student.name.split.0 }}%20and%20{{ mentor.name.split.0 }}&body=Paste,%20then%20proof-read%20and%20edit%20here." target="_blank">
            Paste and send the email here</a></li>
        {% else %}
        <li><a href="mailto:{{ student.email }},{{ mentor.email }}?cc=martin@codingnomads.co&subject=#StayAtHome%20Mentorship%20-%20Introducing%20{{ student.name.split.0 }}%20and%20{{ mentor.name.split.0 }}&body=Paste,%20then%20proof-read%20and%20edit%20here." target="_blank">
            Paste and send the email here</a></li>
        {% endif %}
    </ol>
</div>
<hr>

{% include 'match/email.html' %}

{% else %}

<p>No mentor + student match for this skill and timezone combination.</p>

{% endif %}


{% if mentors %}

<hr>
<h2 id="alternatives">Alternatives</h2>
<p>These mentors/students fit the skill and timezone selection.
    To update the email template, select one of them up above and click <kbd>Match</kbd> again</p>

<h3>Mentors</h3>
<ul>
{% for mentor in mentors %}
    <li class="person-info">
        <p><strong><a href="{% url 'admin:match_mentor_change' mentor.id %}" target="_blank">{{ mentor.name }}</a>
        </strong>: {{ mentor.info }} - <em>({{ mentor.daytime }})</em></p>
    </li>
{% endfor %}
</ul>
{% endif %}


{% if students %}

<h3>Students</h3>
<ul>
{% for student in students %}
    <li class="person-info">
        <p><strong><a href="{% url 'admin:match_student_change' student.id %}" target="_blank">{{ student.name }}</a>
        </strong>: {{ student.info }} - <em>({{ student.daytime }})</em></p>
    </li>
{% endfor %}
</ul>
{% endif %}
    </div>
    </section>

{% endblock %}
