{% extends 'match/base.html' %}

{% block content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Find Match">
    </form>
</div>
<hr>

{% if mentors and students %}

<div>
    <p>Matched Mentor
        <a href="{% url 'admin:match_mentor_change' mentors.0.id %}" target="_blank">
            {{ mentors.0.name }}
        </a> <em>({{ mentors.0.daytime }})</em>
        with Student
        <a href="{% url 'admin:match_student_change' students.0.id %}" target="_blank">
            {{ students.0.name }}
        </a> <em>({{ students.0.daytime }})</em>
    </p>
    <h1>{{ user.username }}</h1>
    <ol>
        <li>
            Add them to our
            <a href="https://forum.codingnomads.co/u/{{ user.username }}/invited/pending" target="_blank">
                CodingNomads Forum</a>:
            <ul>
                <li class="highlight">{{ mentors.0.email }}</li>
                <li class="highlight">{{ students.0.email }}</li>
            </ul>
        </li>
        <li><span class="important">Proof-read and edit the email template below</span></li>
        <li><a href="mailto:{{ students.0.email }},{{ mentors.0.email }}?cc={{ user.username }}@codingnomads.co&subject=#StayAtHome%20Mentorship%20-%20Introducing%20{{ students.0.name.split.0 }}%20and%20{{ mentors.0.name.split.0 }}&body=Paste,%20then%20proof-read%20and%20edit%20here." target="_blank">
            Paste and send the email here</a></li>
    </ol>
</div>
<hr>

{% include 'match/email.html' %}

{% else %}

<p>No mentor + student match for this skill and timezone combination.</p>

{% endif %}


{% if mentors %}

<hr>
<h2>Alternatives</h2>

<h3>Mentors</h3>
<ul>
{% for mentor in mentors %}
    <li class="person-info">
        <p><strong><a href="{% url 'admin:match_mentor_change' mentor.id %}" target="_blank">{{ mentor.name }}</a>
        </strong>: {{ mentor.info }} - <em>({{ mentor.daytime }})</em></p>
    </li>
{% endfor %}
</ul>
{% endif %}


{% if students %}

<h3>Students</h3>
<ul>
{% for student in students %}
    <li class="person-info">
        <p><strong><a href="{% url 'admin:match_student_change' student.id %}" target="_blank">{{ student.name }}</a>
        </strong>: {{ student.info }} - <em>({{ student.daytime }})</em></p>
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
