{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#stayathome mentorship</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/c3d3349a2c.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
        }

        h1, h2 {
            font-family: 'Barlow Condensed', sans-serif;
        }
    </style>
</head>
<body>

    {% if color %}
<section class="hero is-{{ color }} is-bold">
    {% else %}
<section class="hero is-dark is-bold">
    {% endif %}
    <div class="hero-body">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="container">
                    <h1 class="title is-1">CodingNomads Mentorship Program</h1>
                    <h2 class="subtitle is-3">🏠 #stayathome 💻 #stayconnected <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">ℹ️ #stayinformed</a></h2>
                </div>
            </div>
            <div class="column">
                <a href="https://codingnomads.co/" target="_blank">
                    <figure class="image is-3by1">
                        <img class="" src="{% static 'cn_logo.png' %}" alt="CodingNomads logo">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>

{% block content %}

{% endblock %}

<section class="section">
    <div class="box">
        <div class="content">
        <p class="content has-text-grey">By submitting this application you agree to
            <a href="./privacy_policy.html" class="is-link" target="_blank">CodingNomads #StayAtHome Mentorship privacy policy</a>. Simply put, to apply for this program we collect your
            name, email address and a bit of information about your skills and experience. We use this information to communicate with your about the #StayAtHome mentorship program,
            and to connect you with your student/mentor. <strong class="content has-text-grey">We share your info with no one. No cookies are placed, no ads are served.</strong>
        </p>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            An initiative by <a class="is-link is-success" href="https://codingnomads.co/" target="_blank"><strong>CodingNomads</strong></a>,
            March 2020 // Stay up-to-date about <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" class="is-link is-success" target="_blank">COVID-19</a>.
        </p>
        <span class="icon">
            <a href="https://www.linkedin.com/school/codingnomads/" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        </span>
        <span class="icon">
            <a href="https://www.instagram.com/codingnomads/" target="_blank"><i class="fab fa-instagram"></i></a>
        </span>
        <span class="icon">
            <a href="https://twitter.com/codingnomads" target="_blank"><i class="fab fa-twitter"></i></a>
        </span>
        <span class="icon">
            <a href="https://www.facebook.com/codingnomads/" target="_blank"><i class="fab fa-facebook"></i></a>
        </span>
        <span class="icon">
            <a href="https://www.youtube.com/channel/UCGA2DeCbZH4pTq7Mmh24-4A" target="_blank"><i class="fab fa-youtube"></i></a>
        </span>
        <span class="icon">
            <a href="mailto:admin@codingnomads.co" target="_blank"><i class="fas fa-envelope"></i></a>
        </span>
    </div>
</footer>

<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
</body>
</html>
