
<p class="content">
    <strong>About the Program:</strong> CodingNomads #StayAtHome Mentorship Program is a free service
    that pairs voluntary mentors with people who lost their jobs due to COVID-19, and who would like to explore new skills.</p>

<p class="content">
    <strong>Economic Instability:</strong> Millions of people worldwide are facing dire straits due to workplaces
    closing during the COVID-19 pandemic. Self-isolation currently seems to be the most
    effective way to slow the outbreak, lighten the load on our public health system, and save lives.
    However, self-isolation forces many people to make an impossible choice between staying home and forgoing
    necessary income, versus potentially spreading the virus and continuing to go to work.
    Many essential workers are continuing to go to work and are helping to keep our communities as stable and
    safe as possible. Many others were not even given the chance to make that choice, and are now unemployed
    and without income due to lock-downs and the unfolding economic crisis.</p>
