{% extends 'base.html' %}

{% block content %}

{% load static %}


<section class="section">
    <div class="container">

        <article class="message is-info">
            <div class="message-header">
                <p>Solidarity in the time of <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" class="is-link">COVID-19</a></p>
<!--                <button class="delete" aria-label="delete"></button>-->
            </div>
            <div class="message-body">

                {% include 'intro.html' %}

                <p class="content">
                    <strong>Learn To Program For Free:</strong> Increasing your technical skills will not solve the
                    economic and societal problems we are currently
                    facing, but it can help to put yourself in a more stable position. In terms of financial stability, tech jobs are still some of the
                    best paid and most in-demand positions in many places around the world, and they can give many
                    people the opportunity to work remotely. Being able to create value remotely and getting paid even
                    during a situation like the current COVID-19 lock-downs is a privilege that we would like
                    to make as available as possible to affected workers.</p>

            </div>
        </article>

        <div class="columns">
            <div class="column">
                <article class="message is-info">
                    <div class="message-body">
                        If you <strong>lost your job</strong> due to the effects of this pandemic and are <strong>staying
                        at home in self-isolation</strong>
                        and you are considering a <strong>career transition into tech</strong>, apply here for free
                        access to our course
                        curriculum to learn Python, one of the most in-demand and easiest to learn programming
                        languages, or Java, one of the most widely used programming languages in many industries.
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-warning">
                    <div class="message-body">
                        At CodingNomads we know the value and importance of mentorship for learning to code, so we will
                        aim
                        to pair you with a pro-bono mentor to keep you accountable and check in with you while you study
                        this new skill. Please keep in mind that mentors will give their free time to you, and we can't
                        promise to keep this going, since it depends on the availability of individual people. But we'll do our best!
                    </div>
                </article>
            </div>
        </div>


        <div class="columns">
            <div class="column">
                <ul class="content">
                    <li>😕 You lost your job due to COVID-19</li>
                    <li>↔️ You want to self-isolate to <a href="https://twitter.com/search?q=%23flattenthecurve"
                                                          target="_blank">#flattenthecurve</a></li>
                    <li>🤖 You want to learn programming to future-proof your skills</li>
                </ul>
            </div>
            <div class="column">
                <p class="content has-text-right">💡 I know some programming and want to help</p>
                <div class="buttons is-right">
                    <a href="{% url 'mentor' %}" class="button">Apply As A Mentor</a>
                </div>
            </div>
        </div>

        <h2 class="title is-2">Start Learning With A Mentor For Free</h2>
        <p class="content">Please enter your info and availability here and we will give you access to our resources and try to connect you with a
            mentor.</p>

        {% include 'student_form.html' %}

    </div>
</section>

{% endblock %}